services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "15432:5432"
    environment:
      POSTGRES_DB: cartdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: